<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="80ebad">  <td>23/05/19 09:14:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNgClass.admin()[pri:0, instance:test.TestNgClass@59ec2012]">admin</td> 
  <td>main@1900164709</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>23/05/19 09:12:09</td>   <td>-148679</td> <td>&nbsp;</td><td title="&gt;&gt;TestNgClass.login()[pri:0, instance:test.TestNgClass@59ec2012]">&gt;&gt;login</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1900164709</td>   <td></td> </tr>
</table>
